@{
	Layout = "~/Views/_LayoutHome.cshtml";
}

<div id="leftMainMenu" style="min-height:950px;">
	<div class="v-main-logo"></div>
	<div class="v-main-menu-container">
		<ul class="v-main-menu-border">
			<li id="gcrwgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-task-default"></i>
				<a class="v-menu-nonclick-title" href="javascript:void(0);"><span>观测任务管理</span></a>
				<a id="agcrwgl" class="v-menu-one-arrow v-menu-arrow-right" href="javascript:void(0);"></a>
			</li>
			<ul class="v-sub-menu-border x-hide">
				<li id="gcrwbj" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>观测源管理</span></a>
				</li>
				<li id="gcrwdl" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>观测队列选择</span></a>
				</li>
				<li id="gcrwgl" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>观测队列执行</span></a>
				</li>
				<li id="gcrwgr" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>干扰源管理</span></a>
				</li>
				@*<li id="gcrwzl" class="v-menu-two-item">
						<a class="v-menu-two-title" href="javascript:void(0);"><span>系统指令管理</span></a>
					</li>*@
			</ul>
			<li id="gcrzgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-log-default"></i>
				<a class="v-menu-one-title" href="javascript:void(0);">
					<span>观测日志管理</span>
				</a>
			</li>
			<li id="gcshjk" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-mirror-default"></i>
				<a class="v-menu-one-title" href="javascript:void(0);"><span>观测数据监控</span></a>
				<a id="agcsjjk" class="v-menu-one-arrow v-menu-arrow-right" href="javascript:void(0);"></a>
			</li>
			<ul class="v-sub-menu-border x-hide">
				<li id="gcshfs" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>反射面监控</span></a>
				</li>
				<li id="gcshky" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>馈源支撑监控</span></a>
				</li>
				@*<li id="gcshjs" class="v-menu-two-item">
						<a class="v-menu-two-title" href="javascript:void(0);"><span>接收机与终端</span></a>
					</li>*@
			</ul>
			<li id="zttsgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-debug-default"></i>
				<a class="v-menu-one-title" href="javascript:void(0);"><span>整体调试管理</span></a>
				<a id="azttsgl" class="v-menu-one-arrow v-menu-arrow-right" href="javascript:void(0);"></a>
			</li>
			<ul class="v-sub-menu-border x-hide">
				<li id="zttsbj" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>调试任务编辑</span></a>
				</li>
			</ul>
			<li id="ztsjgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-data-default"></i>
				<a class="v-menu-one-title" href="javascript:void(0);"><span>静态数据管理</span></a>
				<a id="aztwjgl" class="v-menu-one-arrow v-menu-arrow-right" href="javascript:void(0);"></a>
			</li>
			<ul class="v-sub-menu-border x-hide">
				<li id="ztwjgl" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>文件管理</span></a>
				</li>
			</ul>
			<li id="xtqxgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-admin-default"></i>
				<a class="v-menu-nonclick-title" href="javascript:void(0);"><span>系统权限管理</span></a>
				<a id="axtqxgl" class="v-menu-one-arrow v-menu-arrow-right" href="javascript:void(0);"></a>
			</li>
			<ul class="v-sub-menu-border x-hide">
				@*<li id="xtqxjg" class="v-menu-two-item">
						<a class="v-menu-two-title" href="javascript:void(0);"><span>系统机构管理</span></a>
					</li>*@
				<li id="xtqxyh" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>系统用户管理</span></a>
				</li>
				@*<li id="xtqxjs" class="v-menu-two-item">
						<a class="v-menu-two-title" href="javascript:void(0);"><span>系统角色管理</span></a>
					</li>
					<li id="xtqxjs" class="v-menu-two-item">
							<a class="v-menu-two-title" href="javascript:void(0);"><span>系统用户权限管理</span></a>
						</li>*@
				<li id="xtqxrz" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>系统操作管理</span></a>
				</li>
			</ul>
			<li id="xtcsgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-paras-default"></i>
				<a class="v-menu-one-title" href="javascript:void(0);"><span>系统参数管理</span></a>
			</li>
		</ul>
	</div>
	<div id="xtinit" class="v-menu-button-border">
		<a class="menu-button-init" href="javascript:void(0);">@*系统初始化*@</a>
	</div>
</div>

@*<script src="~/Web_GlobalResources/FASTjs-V1.0/MenuObserver.js"></script>*@
<script src="~/Web_GlobalResources/FASTjs-V2.0/LeftMainMenu.js"></script>

@RenderBody()