@{
	Layout = "~/Views/_LayoutHome.cshtml";
}

<div id="leftMainMenu">
	<div class="v-main-logo"></div>
	<div class="v-main-menu-container">
		<ul>
			<li id="gcrwgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-task-default"></i>
				<a class="v-menu-nonclick-title" href="javascript:void(0);"><span>观测任务管理</span></a>
				<a id="agcrwgl" class="v-menu-one-arrow v-menu-arrow-right" href="javascript:void(0);"></a>
			</li>
			<ul class="v-sub-menu-border x-hide">
				<li id="gcrwgl" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>观测队列执行</span></a>
				</li>
			</ul>
			<li id="gcrzgl" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-log-default"></i>
				<a class="v-menu-one-title" href="javascript:void(0);">
					<span>观测日志管理</span>
				</a>
			</li>
			<li id="gcshjk" class="v-menu-one-item">
				<i class="v-menu-one-image v-menu-mirror-default"></i>
				<a class="v-menu-one-title" href="javascript:void(0);"><span>观测数据监控</span></a>
				<a id="agcsjjk" class="v-menu-one-arrow v-menu-arrow-right" href="javascript:void(0);"></a>
			</li>
			<ul class="v-sub-menu-border x-hide">
				<li id="gcshfs" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>反射面监控</span></a>
				</li>
				<li id="gcshky" class="v-menu-two-item">
					<a class="v-menu-two-title" href="javascript:void(0);"><span>馈源支撑监控</span></a>
				</li>
				@*<li id="gcshjs" class="v-menu-two-item">
						<a class="v-menu-two-title" href="javascript:void(0);"><span>接收机与终端</span></a>
					</li>*@
			</ul>
		</ul>
	</div>
</div>

@*<script src="~/Web_GlobalResources/FASTjs-V1.0/MenuObserver.js"></script>*@
<script src="~/Web_GlobalResources/FASTjs-V2.0/LeftMainMenu.js"></script>

@RenderBody()