<div class="chat-icon"></div>

<div class="chat-close"></div>
<div id="chatpanel" class="chat-panel ctx">
    <div style="height:27px;"></div>
    <div class="chat-top">
        <div class="online-users"></div>
        <div class="toggle">
            <div class="toggle-icon go-down"></div>
        </div>
        <div class="chat-body" id="chat-body">
        </div>
    </div>
    <div class="chat-bottom">
        <div class="input-panel">            
             <input id="chat-input" type="text" />
        </div>        
        <div class="send-button"></div>
    </div>
</div>

<div class="overlay"></div>
