<div class="center-full-container">
	<div class="center-full-role-border">
		<div id="roleList" class="center-full-role-image center-full-role-admin">
		</div>
	</div>

	<div id="pnlGirdView" class="center-full-grid-area">
	</div>

	<div class="center-full-floor">
		<a id="btnAuthor" class="center-header-button-save" href="javascript:UpdateAuthorEvent();"></a>
	</div>
</div>