<div class="righttop">
	<div class="righttop1">
		<div class="righttoptitle">系统用户权限管理</div>
	</div>
	<div class="righttop2">
		<div class="search">
			<label>用户名称:</label>
			<input id="txtUSER_NAME" placeholder="     " type="text" />
			<a href="javascript:HeaderQueryData();"></a>
	</div>
	</div>
</div>
<div class="rightbottom">
	<div id="SystemRight" class="totalCenterPanel">
		<div class="centerHeader">
			<div class="centerHeaderTitle">系统用户权限管理</div>
			<div class="centerHeaderButtons">
				<a class="centerCollapseButton collapseDelButton" href="javascript:GridPanelToggle();"></a>
				<a class="centerRefreshButton" href="javascript:HeaderQueryData();"></a>
			</div>
		</div>
		<div class="centerContent">
			<div id="pnlGirdView" class="totalCenterDiv"></div>
		</div>
	</div>
</div>