<div class="center-header-container">
	<div class="center-header-title">
		<div class="center-header-title-show">系统报警管理</div>
	</div>
	<div class="center-header-query">
		<div class="header-query-search">
			<label class="header-query-search-label">报警类型：</label>
			<select id="txtALTERING_TYPE" class="header-query-search-input">
				<option style ="background-color:white"></option>
				<option value="FAULT_LIGHT" style="background-color:white">轻微</option>
				<option value="FAULT_NORMAL" style="background-color:white">一般</option>
				<option value="FAULT_GRAVE" style="background-color:white">严重</option>
			</select>
			<label class="header-query-search-label">报警时间：</label>
			<input id="txtALTERING_BEGINTIME" class="header-query-search-input" type="text"/>
			<a class="center-header-button-query" href="javascript:HeaderQueryData();"></a>
		</div>
	</div>
</div>
<div class="center-grid-basic-border">
	<div class="center-grid-first-header">
		<div class="center-grid-first-header-title"></div>
		<a id="btmCancel" class="button-grid-cancel" href="javascript:GridViewClose();"></a>
		<a id="btmMinimize" class="button-grid-minimize " href="javascript:ViewMinimumSize();"></a>
		<a id="btmRefresh" class="button-grid-refresh" href="javascript:HeaderQueryData();"></a>
	</div>
	<div id="pnlGirdView" class="center-grid-basic-area"></div>
</div>