<div class="center-header-container">
	<div class="center-header-title">
		<div class="center-header-title-show">系统用户管理</div>
	</div>
	<div class="center-header-query">
		<div class="header-query-search">
			<label class="header-query-search-label">用户名称:</label>
			<input id="txtUSER_NAME" class="header-query-search-input" placeholder="请输入用户名称" type="text" />
			<a class="center-header-button-query" href="javascript:HeaderQueryData();"></a>
		</div>
		<div class="header-query-function">
			<a id="btnInsert" class="center-header-button-add" href="javascript:HeaderInsertForm();"></a>
		</div>
	</div>
</div>
<div class="center-grid-basic-border">
	<div class="center-grid-first-header">
		<div class="center-grid-first-header-title"></div>
		<a id="btmCancel" class="button-grid-cancel" href="javascript:GridViewClose();"></a>
		<a id="btmMinimize" class="button-grid-minimize " href="javascript:ViewMinimumSize();"></a>
		<a id="btmRefresh" class="button-grid-refresh" href="javascript:HeaderQueryData();"></a>
	</div>
	<div id="pnlGirdView" class="center-grid-basic-area"></div>
</div>