@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=0.43, minimum-scale=0.40, maximum-scale=1.0, user-scalable=yes" />
	<link href="~/Web_GlobalResources/Web_Themes/CSS/FAST-V1.0/LoginInns.css" rel="stylesheet" />
	<script src="~/Web_GlobalResources/FASTjs-V1.0/jquery-1.11.3.min.js"></script>
	<script src="~/Web_GlobalResources/FASTjs-V2.0/LoginInns.js"></script>
	<title>登录 | FAST总控系统</title>
</head>
<body>
	@*<div id="xingtu_bg">
		<p id="xingtu"></p>
	</div>*@
	<div id="login_bg">
		<div id="login_box">
			<input id="username" type="text" placeholder="请输入用户名">
			<input id="pwd" type="password" placeholder="请输入密码">
			<div id="errorMsg">密码或用户名错误，请重新输入！</div>
			<div id="loading-center-absolute">
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_three"></div>
			</div>
			<div class="bsubit"></div>
			<input id="submit" type="submit" value="">
			<div class="breset"></div>
			<input id="reset" type="reset" value="">
		</div>
	</div>
	<div class="copyright">
		<p class="first">&copy; 2015 太极计算机股份有限公司版权所有</p>
	</div>
</body>
</html>