<div class="center-header-container">
    <div class="center-header-title">
        <div class="center-header-title-show">系统机构管理</div>
    </div>
    <div class="center-header-query">
        <div class="header-query-search">
            <label class="header-query-search-label">机构名称:</label>
            <input id="txtINSTITUTION_NAME" class="header-query-search-input" placeholder="请输入机构名称" type="text" />
            <a class="center-header-button-query" href="javascript:HeaderQueryData();"></a>
        </div>
        <div class="header-query-function">
            <a id="btnInsert" class="center-header-button-add" href="javascript:HeaderInsertForm();"></a>
        </div>
    </div>
</div>
<div class="center-grid-basic-border">
    <div id="pnlGirdView" class="center-grid-basic-area"></div>
</div>