@model HazelNuts.Model.Master.MASTER_INSTITUTION

	@{
		ViewBag.Title = "这是一个MVC页面Template";
	}

	<h2>Asp.Net Web API 已运行！</h2>
	<hr />
	<!-- 调用SYSTEM_INSTITUTION实例的属性 -->
	<h2>名称：@Model.INSTITUTION_NAME</h2>
	<h3>描述：@Model.DESCRIPTION_INFO</h3>