<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="../Web_GlobalResources/Extjs-4.2.3/resources/ext-theme-neptune/ext-theme-neptune-all.css" />
    <link href="~/Web_GlobalResources/Web_Themes/CSS/FAST-V1.0/BigScreenStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="../Web_GlobalResources/Extjs-4.2.3/ext-all-debug.js"></script>
    <script src="~/Web_GlobalResources/FASTjs-V1.0/jquery-1.11.3.min.js"></script>
    <script src="~/Web_GlobalResources/FASTjs-V1.0/jquery-ui.min.js"></script>    
    <script src="~/Web_GlobalResources/Echarts-3.1.4/echarts.min.js"></script>
    <title>FAST总控系统--大屏</title>
</head>
<body>     
    @RenderBody()
</body>
</html>