@{
	Layout = "~/Views/BigScreen/_ScreenLayout.cshtml";
}
<script src="~/Web_GlobalResources/FASTjs-V1.0/BigScreen/FeedScreen.js"></script>

<div class="full-container container-feed">
	<div id="circleDiv1" class="ball"></div>
	<div id="circleDiv2" class="half-ball"></div>
	<div id="chartDiv1" class="chart"></div>
	<div id="chartLegend" class="chartLegend">
		<img src="~/Web_GlobalResources/Web_Themes/Images/FAST-V1.0/chart-legend.png" />
	</div>
	<div id="chartMark1" class="chartMark">
		<img src="~/Web_GlobalResources/Web_Themes/Images/FAST-V1.0/chart-mark.png" />
	</div>
	<div id="chartMark2" class="chartMark">
		<img src="~/Web_GlobalResources/Web_Themes/Images/FAST-V1.0/chart-mark10.png" />
	</div>
	<div id="chartDiv2" class="chart"></div>
	<div id="trdDiv" class="datas-box">
		<div class="line">
			<span class="xyz-label">X:</span>
			<span class="text" id="span-t-x"></span>
			<span class="xyz-label">Y:</span>
			<span class="text" id="span-t-y"></span>
			<span class="xyz-label">Z:</span>
			<span class="text" id="span-t-z"></span>
		</div>
		<div class="line">
			<span class="xyz-label">X:</span>
			<span class="text" id="span-r-x"></span>
			<span class="xyz-label">Y:</span>
			<span class="text" id="span-r-y"></span>
			<span class="xyz-label">Z:</span>
			<span class="text" id="span-r-z"></span>
		</div>
		<div class="line">
			<span class="xyz-label">X:</span>
			<span class="text green-text" id="span-d-x"></span>
			<span class="xyz-label">Y:</span>
			<span class="text green-text" id="span-d-y"></span>
			<span class="xyz-label">Z:</span>
			<span class="text green-text" id="span-d-z"></span>
		</div>
	</div>
</div> 