@{
	Layout = "~/Views/BigScreen/_ScreenLayout.cshtml";
}

<style type="text/css">
	#b1 {
		left: 89px;
		top: 203px;
	}

	#b2 {
		left: 532px;
		top: 203px;
	}

	#b3 {
		left: 975px;
		top: 203px;
	}

	#b4 {
		left: 1418px;
		top: 203px;
	}

	#b5 {
		left: 89px;
		top: 634px;
	}

	#b6 {
		left: 532px;
		top: 634px;
	}

	#b7 {
		left: 975px;
		top: 634px;
	}

	#b8 {
		left: 1418px;
		top: 634px;
	}

	.title {
		color: #fff;
		font-size: 45px;
		width: 286px;
		position: absolute;
		left: 33px;
		top: 77px;
		text-align: center;
	}

	.title1 {
		top: 49px;
	}

	.title2 {
		top: 105px;
	}

	.state1 {
		width: 154px;
		height: 100px;
		display: inline-block;
		position: absolute;
		left: 22px;
		top: 231px;
	}

	.state2 {
		width: 154px;
		height: 100px;
		display: inline-block;
		position: absolute;
		left: 176px;
		top: 231px;
	}
</style>

<script src="~/Web_GlobalResources/FASTjs-V1.0/BigScreen/HomeScreen.js"></script>
@*<script src="~/Web_GlobalResources/FASTjs-V1.0/MenuObserver.js"></script>*@

<div id="container" class="full-container container-home">
	<div id="b1" class="box">
		<div class="title">总控服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
	<div id="b2" class="box">
		<div class="title title1">主动反射面</div>
		<div class="title title2">控制服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
	<div id="b3" class="box">
		<div class="title title1">主动反射面</div>
		<div class="title title2">测量服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
	<div id="b4" class="box">
		<div class="title title1">主动反射面健</div>
		<div class="title title2">康监测服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
	<div id="b5" class="box">
		<div class="title title1">馈源支撑</div>
		<div class="title title2">控制服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
	<div id="b6" class="box">
		<div class="title title1">馈源支撑</div>
		<div class="title title2">测量服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
	<div id="b7" class="box">
		<div class="title title1">馈源支撑动</div>
		<div class="title title2">态监测服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
	<div id="b8" class="box">
		<div class="title title1">接收机与</div>
		<div class="title title2">终端服务器</div>
		<div class="state state1"></div>
		<div class="state state2"></div>
	</div>
</div> 