@{
	Layout = "~/Views/BigScreen/_ScreenLayout.cshtml";
}

<script src="~/Web_GlobalResources/FASTjs-V1.0/map.js"></script>
<script src="~/Web_GlobalResources/FASTjs-V1.0/BigScreen/ReflectorScreen.js"></script>

<div class="full-container container-reflector">
	<div id="circleDiv" class="ball"></div>
	<div id="chartDiv" class="chart"></div>
	<div id="chartMark" class="chartMark">
		<img src="~/Web_GlobalResources/Web_Themes/Images/FAST-V1.0/chart-mark5.png" />
	</div>
	<div id="trdDiv" class="datas-box">
		<span>X：<span id="spanT"></span></span>
		<span>Y：<span id="spanR"></span></span>
		<span>Z：<span id="spanD"></span></span>
	</div>
	<div id="number1" class="number">    </div>
	<div id="number2" class="number">    </div>
	<div id="number3" class="number">    </div>
	<div id="number4" class="number">    </div>
</div>