@{
    Layout = "~/Views/BigScreen/_ScreenLayout.cshtml";
}

<script src="~/Web_GlobalResources/FASTjs-V1.0/BigScreen/TaskScreen.js"></script>

<div class="top-empty-bar task-top-empty-bar">
</div>
<div id="grid-container" class="container container-task container-task-alarm">
</div>
