<div class="center-header-container">
	<div class="center-header-title">
		<div class="center-header-title-show">观测日志管理</div>
	</div>
	<div class="center-header-query">
		<div class="header-query-search">
			<label class="header-query-search-label">源名:</label>
			<input id="txtSEQUENCE_NAME" class="header-query-search-input" type="text" />
			<label class="header-query-search-label">开始时间:</label>
			<input id="txtBEGIN_TIME" class="header-query-search-input" type="text" />
			<label class="header-query-search-label">结束时间:</label>
			<input id="txtEND_TIME" class="header-query-search-input" type="text" />
			<a class="center-header-button-query" href="javascript:HeaderQueryData();"></a>
		</div>
		<div class="header-query-function">
			<a id="btnExport" class="center-header-button-export" href="javascript:exportGrid();"></a>
		</div>
	</div>
</div>

<div id="taskList" class="center-grid-basic-border" style="height:405px;min-height:55px;">
	<div class="center-grid-first-header">
		<div class="center-grid-first-header-title">观测任务</div>
		<a id="btmCancel" class="button-grid-cancel" href="javascript:GridViewClose('taskList');"></a>
		<a id="btmMinimize" class="button-grid-minimize " href="javascript:ViewMinimumSize('taskList');"></a>
		<a id="btmRefresh" class="button-grid-refresh" href="javascript:HeaderQueryData();"></a>
	</div>
	<div id="pnlTaskView" class="center-grid-basic-area" style="height:300px;min-height:300px;"></div>
</div>

<div id="typeList" class="h-center-grid-basic-border" style="height:405px;">
	<div class="center-grid-first-header">
		<div class="center-grid-first-header-title">日志类型</div>
		<a id="btmCancel" class="button-grid-cancel" href="javascript:GridViewClose('typeList');"></a>
		<a id="btmMinimize" class="button-grid-minimize " href="javascript:ViewMinimumSize('typeList');"></a>
		<a id="btmRefresh" class="button-grid-refresh" href="javascript:ReLoadLoggingTypeData();"></a>
	</div>
	<div id="pnlTypeView" class="center-grid-basic-area" style="height:300px;min-height:300px; width:275px;min-width:275px;"></div>
</div>

<div id="columnList" class="h-center-grid-basic-border" style="height:405px; ">
	<div class="center-grid-first-header">
		<div class="center-grid-first-header-title">数据列表</div>
		<input id="txtColumnCode" class="header-query-search-input x-hide" placeholder="请输入......" type="text" style="margin-top:12px;margin-left:20px;" />
		<a id="btmCancel" class="button-grid-cancel" href="javascript:GridViewClose('columnList');"></a>
		<a id="btmMinimize" class="button-grid-minimize " href="javascript:ViewMinimumSize('columnList');"></a>
		<a id="btmRefresh" class="button-grid-refresh" href="javascript:ReLoadColumnListData();"></a>
	</div>
	<div id="pnlColumnView" class="center-grid-basic-area" style="height:300px;min-height:300px; width:275px;min-width:275px;"></div>
</div>

<div id="recordList" class="center-grid-basic-border" style="height:570px;">
	<div class="center-grid-first-header">
		<div class="center-grid-first-header-title">观测记录</div>
		<a id="btmCancel" class="button-grid-cancel" href="javascript:GridViewClose('recordList');"></a>
		<a id="btmMinimize" class="button-grid-minimize " href="javascript:ViewMinimumSize('recordList');"></a>
		<a id="btmRefresh" class="button-grid-refresh" href="javascript:ReLoadLoggingInfoData();"></a>
	</div>
	<div id="pnlRecordView" class="center-grid-basic-area" style="height:515px; min-height:515px;"></div>
</div>

<div id="chartArea" class="center-grid-basic-border" style="height:570px;">
	<div class="center-grid-first-header">
		<div class="center-grid-first-header-title">图像展示</div>
		<a id="btmCancel" class="button-grid-cancel" href="javascript:GridViewClose('chartArea');"></a>
		<a id="btmMinimize" class="button-grid-minimize " href="javascript:ViewMinimumSize('chartArea');"></a>
		<a id="btmRefresh" class="button-grid-refresh" href="javascript:RefreshDataChartView();"></a>
	</div>
	<div id="pnlChartView" class="center-grid-basic-area" style="height:515px; min-height:515px;"></div>
</div>